@import url(../../style.css);

.main-content{
    padding: 2rem;
}

.cart-heading{
    width: 100%;
    text-align: center;
    margin-bottom: 2rem ;
}

.cart-info{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 2rem;
}

.cart-items{
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.card-ecom-horizontal {
    width: 100%;
}

.card-footer-hr{
    width: 100%;
}

.price-details {
    padding: 2rem;
    height: fit-content;
    width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.price-details h4{
    text-align: center;
}

.price-calc-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-total p{
    font-weight: 800;
}

.price-total ~ .btn-primary{
    font-size: 2rem;
    padding: 0;
}